@{
    ViewBag.Title = "About";
}


<li>@Html.ActionLink("Добавить тестовые данные", "Create", "Home")</li>
<li>@Html.ActionLink("Удалить тестоые данные", "Delete", "Home")</li>


<p>Курсовой проект Paul Stravoed</p>
